export NIXOPS_DEPLOYMENT=maschinen
export NIXOPS_STATE=./$NIXOPS_DEPLOYMENT.nixops

NIXPKGS_CHANNEL_RELEASE=nixos-20.09pre220217.39247f8d04c
NIXPKGS_CHANNEL_NAME=unstable
NIXPKGS_CHANNEL_URL=https://releases.nixos.org/nixos/$NIXPKGS_CHANNEL_NAME/$NIXPKGS_CHANNEL_RELEASE/nixexprs.tar.xz

UNSTABLE_REPO=evertedsphere/nixpkgs
UNSTABLE_TRACKING_BRANCH=evsph/maschinen-tracking
UNSTABLE_PATH=https://github.com/$UNSTABLE_REPO/archive/$UNSTABLE_TRACKING_BRANCH.tar.gz

HOME_MANAGER_REPO=rycee/home-manager
HOME_MANAGER_COMMIT=dd93c30
HOME_MANAGER_URL=https://github.com/$HOME_MANAGER_REPO/archive/$HOME_MANAGER_COMMIT.tar.gz

export NIX_PATH=nixpkgs=$NIXPKGS_CHANNEL_URL:home-manager=$HOME_MANAGER_URL:unstable=$UNSTABLE_PATH
