export NIXOPS_DEPLOYMENT=maschinen
export NIXOPS_STATE=./$NIXOPS_DEPLOYMENT.nixops

NIXPKGS_CHANNEL_RELEASE=nixos-20.09pre218613.ae6bdcc5358
NIXPKGS_CHANNEL_NAME=unstable
NIXPKGS_CHANNEL_SHA256=1aw77y31kh6ippjks5qzz5kqkz6pm5flnhjbp5k598m2pf86id9k
NIXPKGS_CHANNEL_URL=https://releases.nixos.org/nixos/$NIXPKGS_CHANNEL_NAME/$NIXPKGS_CHANNEL_RELEASE/nixexprs.tar.xz

UNSTABLE_PATH=$(pwd)/deps/unstable

HOME_MANAGER_COMMIT=dd93c30
HOME_MANAGER_SHA256=0cq6ngagx68rb8w9cyimrl17khr0317m6mazx7fkvqay9qp1pd3y
HOME_MANAGER_URL=https://github.com/rycee/home-manager/archive/$HOME_MANAGER_COMMIT.tar.gz

export NIX_PATH=nixpkgs=$NIXPKGS_CHANNEL_URL:home-manager=$HOME_MANAGER_URL:unstable=$UNSTABLE_PATH
